*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
}
.clock{
    position: absolute;
    border: 4px solid black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 500px;
    height: 150px;
    background-color: white;
    transition: .3s linear;
}
span{
    color: black;
    font-size: 100px;
    position: relative;
    left: 15%;
    top: 15%;
}
.clock:hover{
    background-color: yellow;
    border: 4px solid green;
}

section{
border: 4px solid black;
position: absolute;
width: 600px;
height: 150px;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
transition: .3s linear;
border-radius: 20px;
}
section:hover{
    background-color: yellow;
    border: 4px solid green;
}
.day, 
.hr, 
.min, 
.sc{
    color: black;
    display: inline-block;
    font-size: 40px;
    margin-left: 40px;
    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: .3s linear;
}
h1:hover{
    color: blue;
}